.emp-card {
    border: 0.01rem solid rgba(129, 63, 124, 0.39);
    border-radius: 0.5rem;
    padding: 1.2rem;
}

.emp-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.emp-card-avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.emp-card-info {
    display: flex;
    flex-direction: column;
}

.emp-card-name {
    font-size: 1rem;
    font-weight: 500;
}

.emp-card-role {
    color: rgb(113, 108, 100);
    font-size: 0.9rem;
}

.emp-card-details {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 1.2rem;
}

.emp-detail-item {
    color: rgb(113, 108, 100);
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 0.9rem;
}

.emp-card-footer {
    text-align: right;
    color: rgb(96, 98, 120);
}