.department-card {
    border: 0.01rem solid rgba(129, 63, 124, 0.39);
    border-radius: 0.5rem;
    padding: 1.5rem;
    position: relative;
    transition: 0.2s ease;
}

.department-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.department-card-title {
    font-size: 18px;
    font-weight: 600;
}

.department-detail-row {
    display: flex;
    justify-content: space-between;
}

.department-card-edit {
    cursor: pointer;
}