.add-btn-form {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:32rem;
    height:35rem;
    padding:1.2rem;
    background:white;
    border-radius:.6rem;
    overflow:auto;
    z-index:1000;
}

.form-header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.form-header h2{
    text-align: center;
}

.form-header img {
    cursor: pointer;
}

label {
    display:block;
    margin-top:.6rem;
}

.add-btn-form input,
.add-btn-form select {
    width:100%;
    padding:.5rem;
    margin-top:.3rem;
    border-radius:.3rem;
}

.error {
    color:red;
    margin-top:.2rem;
}

.form-actions {
    margin-top:1rem;
    display:flex;
    gap:1rem;
}

#saveBtn {
    background: #3bd938;
    color: #fff;
}

.view-mode input,
.view-mode select,
.view-mode textarea {
    cursor: not-allowed;
}

.form-btn, .form-btn:hover {
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

#modal .form-btn:disabled
 {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-danger {
    background-color: rgb(246, 72, 66);
    color: rgb(255, 255, 237);
    box-shadow: 0 0 0.1rem 0.2rem rgba(246, 72, 66, 0.1);
}

.required {
    color: red;
    font-weight: bold;
}

.form-header:hover img {
    filter: invert(17%) sepia(97%) saturate(7470%) hue-rotate(356deg) brightness(95%) contrast(97%);
}
