<aside class="side-bar" id="sideBar" [class.collapsed]="sidebarService.isCollapsed">
  <div class="side-bar-header">
    <div class="logo-container">
      <img src="assets/images/TezoLogo.svg" alt="tezo" class="logo-icon">
      <img src="assets/images/TezoLogo_collapse.png" alt="tezo" class="logo-icon-collapse">
    </div>
    <div class="collapse-btn" id="collapseSidebar" (click) = "toggleSidebar()">
      <img src="assets/images/handle.png" alt="handle button">
    </div>
  </div>

  <nav class="side-bar-menu">
    <div *ngFor="let section of menuItems">
      <h4 class="menu-label">{{ section.label }}</h4>
      <ul>
        <li *ngFor="let child of section.children">
          <a
            [routerLink]="child.route"
            routerLinkActive="active"
            class="menu-item menu-item-dashboard"
          >
            <img [src]="child.icon" [alt]="child.label" class="menu-item-icon">
        
            <span class="menu-text">{{ child.label }}</span>
        
            <img
            *ngIf="child.label === 'Roles' || child.label === 'Access Rights'"
              src="assets/images/arrow-right.png"
              alt="arrow"
              class="menu-item-arrow"
            >
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <footer class="sidebar-footer" *ngIf="showFooterCard">
    <div class="update-card-container">
      <div class="update-card">
        <div class="update-title">{{ footerItem.label }}</div>
        <div class="update-description">{{ footerItem.description }}</div>

        <div class="update-actions">
          <button class="btn btn-primary" (click)="onActionClick()">Dismiss</button>
          <button class="btn btn-danger" (click)="onActionClick()">Accept</button>
        </div>
      </div>
    </div>
  </footer>
</aside>